# Compiled
*.elc
*.o
*.jpeg
*.user
*.jpg
*.mpg
Makefile
VAT
moc_CameraThread.cpp
moc_Datapool.cpp
moc_ImageWindowDisplay.cpp
moc_ModulesDialog.cpp
moc_image_display.cpp
moc_parameterDialog.cpp
moc_productionthread.cpp
moc_qwt_dyngrid_layout.cpp
moc_qwt_legend.cpp
moc_qwt_legend_item.cpp
moc_qwt_magnifier.cpp
moc_qwt_panner.cpp
moc_qwt_picker.cpp
moc_qwt_polar_canvas.cpp
moc_qwt_polar_magnifier.cpp
moc_qwt_polar_panner.cpp
moc_qwt_polar_picker.cpp
moc_qwt_polar_plot.cpp
moc_qwt_polar_renderer.cpp
moc_qwt_text_label.cpp
moc_viewform.cpp
moc_viewportqlabel.cpp
ui_ImageWindowDisplay.h
ui_ModulesDialog.h
ui_image_display.h
ui_parameterDialog.h
ui_viewform.h

